#carte {
	margin: 10px;
	float: left;
	width: 30%;
}

#informations {
	margin: 10px;
	float: right;
	width: 30%;
}

#depart, #arrivee {
	margin: 2%;
	padding: 5px 1px 5px 10px;
	width: 450px;
	height: 100px;
	background-color: #E0E0E0;
	border-radius: 15px;
}

#adresseA, #adresseB {
	margin-left: 10px;
}
