#carte {
	margin: 1%;
	float: left;
	width: 48%;
}

#informations {
	margin: 1%;
	float: right;
	width: 48%;
}

h3, strong {
	color: #4F4F4F;
}

#depart, #arrivee {
	padding: 5px 1px 5px 10px;
	width: 450px;
	height: 80px;
	background-color: #CDC0B0;
	border-radius: 10px;
}

#adresseA, #adresseB {
	margin-left: 10px;
}

#footer {
	clear: both;
}
